.home {
    max-width:600px;
    min-height: 500px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--pink);
    box-shadow: 0 0 10px rgba(255, 0, 85, 0.15);
    padding: 2rem;
    border-radius: 8px;
}

.home__text{
    
}

.home__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 320px;
}

