.registro{
    height:  70vh;
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
    border: 2px solid var(--pink);
    box-shadow: 0 0 10px rgba(255, 0, 85, 0.15);
    padding: 2rem;
    border-radius: 8px;
    margin: 0 auto;
    background-color: var(--background-secondary)
}

.registro__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.registro__buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 320px;
    justify-self: center;
}



@media (max-width: 600px) {
   .registro {
    width: 90%;
    max-width: 400px;
    min-height: 650px;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
  }
  .registro__buttons {
    max-width: 320px;
  }
}